{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>

        <style>
            #content{
                margin-top: 10px !important;
            }
            .categories{
                color: #000;
                background-color: green !important;
            }
            #fun-facts{
                padding-right: 10px;
                padding-left: 10px;
                text-align: justify;
            }
            .fact-title{
                text-align: left;
                color: green;
            }
            #recipe{
                background-color: #fff;
                padding: 15px;
                border-radius: 10px;
            }
            .recipe-title{
                padding-bottom: 5px;
                color: green;
            }
            #recipe-doing{
                text-align: justify !important;
                padding-left: 20px;
                padding-right: 20px;
            }
        </style>
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5" id='content'>
            <div class="row">
                <div class="col-lg-8" id='recipe'>
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Mango sticky</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January 1, 2022</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light categories" href="#!"><span>Mango</span></a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='pasta.jpeg')}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">
                                <h2 class="fw-bolder mb-4 mt-5 recipe-title">Ingredients</h2>
                                <ul>
                                    <li>150g mango</li>
                                    <li>115ml coconut milk</li>
                                    <li>100ml water</li>
                                    <li>90g brown rice</li>
                                    <li>10g white sugar</li>
                                    <li>5g seasame seeds</li>
                                    <li>Salt</li>
                                </ul>
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5 recipe-title">Let's cook, shall we?</h2>
                            <p class="fs-5 mb-4" id='recipe-doing'>
                                <ol id='recipe-doing'>
                                    <li>Rinse the rice thoroughly, changing the water several times. Pour on cold water, cover and simmer on a low heat for around 10 minutes. Remove from the heat and leave covered for around 10- 15 minutes, until the rice completely absorbs the water.</li>
                                    <li>Boil the coconut milk in a pan with some sugar and salt. Pour 3/4 of the milk into the rice and mix in.</li>
                                    <li>Arrange on a plate. Lay the rice alongside (e.g. using cups), pour on the rest of the coconut milk and sprinkle with roasted sesame.</li>
                                </ol>
                            </p>
                        </section>
                    </article>
                    <!-- Comments section-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Fun facts about food</div>
                        <div class="card-body">
                            <div class="row">
                                <div id='fun-facts'>
                                    <h3 class='fact-title'>Broccoli contains more protein than steak</h3>
                                    Former President George W Bush may have once famously proclaimed:
                                    “I’m president of the United States and I’m not going to eat any more broccoli,”
                                    but don’t listen to him! Besides the usual nutrition one gets from eating their greens,
                                    broccoli has a great deal of protein. Calorie for calorie, there is more protein in broccoli than steak.
                                    And it doesn’t come with all those saturated and trans fats or cholesterol, so you can get all the protein
                                    you need with a significantly lower risk of cardiovascular disease with this healthy food.
                                    <br><br>
                                    <h3 class='fact-title'>Pistachios are actually fruits</h3>
                                    Another unbelievable-but-true random fact! They are actually the seeds of a fruit
                                    (the outer fruit is removed during processing). Like other ‘nuts’,
                                    pistachios are a rich source of protein, fibre, vitamins and minerals,
                                    which can help people with weight management, protect against diabetes
                                    and hypertension and improve digestion. The omega-3 fatty acids present
                                    in pistachios can help lower your blood pressure and may also reduce your risk of heart disease.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



{% endblock %}