
{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
    <style>
      #title_table{
          padding-top: 30px !important;
      }
      a{
        color: green;
        text-decoration: none;
      }
      a:visited{
        color: darkgreen;
        text-decoration: none;
      }
      a:hover {
        color: hotpink;
        text-decoration: bold;
      }
      .week-day{
            color: #0c2907;
            text-decoration: bold;
            background-color: #6F6F6F;
          }
      .food{
        background-color: #DBDBDB;
      }
      table, th, td {
        border: 1px solid black;
      }
    </style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5" id='title_table'>
					<h2 class="heading-section">Hi, {{ name }}! Here's your meal plan!</h2>
          <h5 class="heading-section">Did You know? Your daily calorie intake is {{ calorie_intake }} kcal!</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">“My best hostess tip is to have good food and really good music."– Jennifer Aniston</h4>
					<div class="table-wrap">
						<table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th class='week-day'>Monday</th>
                  <th class='week-day'>Tuesday</th>
                  <th class='week-day'>Wednesday</th>
                  <th class='week-day'>Thursday</th>
                  <th class='week-day'>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <tr>
                  {% for breakfast in week_menu[0] %}
                  <td class="text-center food">
                    <a class='recipe' href="{{ url_for(breakfast.url) }}"><strong>{{ breakfast.name.title() }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for snack in week_menu[1] %}
                  <td class="text-center food">
                    <a class='recipe' href="{{ url_for(snack.url) }}"><strong>{{ snack.name.title() }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for lunch in week_menu[2] %}
                  <td class="text-center food">
                    <a class='recipe' href="{{ url_for(lunch.url) }}"><strong>{{ lunch.name.title() }}</strong> <br>
                  </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for dinner in week_menu[3] %}
                  <td class="text-center food">
                    <a class='recipe' href="{{ url_for(dinner.url) }}"><strong>{{ dinner.name.title() }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for supper in week_menu[4] %}
                  <td class="text-center food">
                    <a class='recipe' href="{{ url_for(supper.url) }}"><strong>{{ supper.name.title() }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                </tr>
              </tbody>
            </table>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>


{% endblock %}