{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
    <style>
        #title_table{
            padding-top: 30px !important;
        }
    </style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5" id='title_table'>
					<h2 class="heading-section">Hi, {{ name }}! Here's your meal plan!</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">“My best hostess tip is to have good food and really good music."– Jennifer Aniston</h4>
					<div class="table-wrap">
						<table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <tr>
                  {% for breakfast in week_menu["breakfast"] %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{ breakfast }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for snack in week_menu["snack"] %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{ snack }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for lunch in week_menu["lunch"] %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{ lunch }}</strong> <br>
                  </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for dinner in week_menu["dinner"] %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{ dinner }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                <tr>
                  {% for supper in week_menu["supper"] %}
                  <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                    <a href="#"><strong>{{ supper }}</strong> <br>
                    </a>
                  {% endfor %}
                </tr>
                </tr>
              </tbody>
            </table>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>


{% endblock %}