<!--Tu nic na razie nie ma-->
{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html>
<head>
    <style>
        #form{
            width: 400px !important;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            background-color: #7ca54e;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 30px;
        }
        .form-label{
            font-size: 20px;
        }
        #button-bottom{
            background-color: green !important;
            border-color: #0E5106 !important;
        }
    </style>
    <script>
        submitForms = function(){
            document.getElementById("form1").submit();
            document.getElementById("form2").submit();
            document.getElementById("form3").submit();
            document.getElementById("form4").submit();
            document.getElementById("form5").submit();
        }
    </script>
</head>
<body>
<div id='form'>
    <form action="{{ url_for('meal_planner') }}" method="post" >
        <div class="form-group">
        <label for="exampleInputEmail1" class='form-label'>Your name</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your name" name="name">
        </div>
        <div class="form-group">
        <label for="weight" class='form-label'>Your weight (kg)</label>
        <input type="number" class="form-control" id="weight" placeholder="Your weight" name="weight">
        </div>
        <div class="form-group">
        <label for="height" class=form-label>Your height (cm)</label>
        <input type="number" class="form-control" id="height" placeholder="Your height" name="height">
        </div>
        <div class="form-group">
        <label for="age" class=form-label>Your age</label>
        <input type="number" class="form-control" id="age" placeholder="Your age" name="age">
        </div>
        <div class='form-label'>Your gender</div>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <div class='form-label'>Your diet</div>
        <input type="radio" id="vegan" name="diet" value="vegan">
        <label for="vegan">Vegan</label><br>
        <input type="radio" id="vegetarian" name="diet" value="vegetarian">
        <label for="vegeterian">Vegetarian</label><br>
        <input type="radio" id="standard" name="diet" value="standard">
        <label for="standard">Standard</label><br>
        <div class='form-label'>Your activity level</div>
        <input type="radio" id="none" name="activity" value="none">
        <label for="none">None</label><br>
        <input type="radio" id="light" name="activity" value="light">
        <label for="light">Light</label><br>
        <input type="radio" id="medium" name="activity" value="medium">
        <label for="medium">Medium</label><br>
        <input type="radio" id="heavy" name="activity" value="heavy">
        <label for="heavy">Heavy</label><br>
        <input type="radio" id="extreme" name="activity" value="extreme">
        <label for="extreme">Extreme</label><br>
        <div class='form-label'>What is your goal?</div>
        <input type="radio" id="lose" name="goal" value="lose">
        <label for="loose">To lose weight</label><br>
        <input type="radio" id="gain" name="goal" value="gain">
        <label for="gain">To gain weight</label><br>
        <input type="radio" id="maintain" name="goal" value="maintain">
        <label for="maintain">To maintain weight</label><br>
        <input type="submit" value="Can't wait!!!">
    </form>
</div>
</body>
</html>
{% endblock %}