{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>

        <style>
            #content{
                margin-top: 10px !important;
            }
            .categories{
                color: #000;
                background-color: green !important;
            }
            #fun-facts{
                padding-right: 10px;
                padding-left: 10px;
                text-align: justify;
            }
            .fact-title{
                text-align: left;
                color: green;
            }
            #recipe{
                background-color: #fff;
                padding: 15px;
                border-radius: 10px;
            }
            .recipe-title{
                padding-bottom: 5px;
                color: green;
            }
            #recipe-doing{
                text-align: justify !important;
                padding-left: 20px;
                padding-right: 20px;
            }
        </style>
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5" id='content'>
            <div class="row">
                <div class="col-lg-8" id='recipe'>
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Shakshuka</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January 1, 2022</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light categories" href="#!"><span>Tomatoes</span></a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='pasta.jpeg')}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">
                                <h2 class="fw-bolder mb-4 mt-5 recipe-title">Ingredients</h2>
                                <ul>
                                    <li>400g cherry tomatoes</li>
                                    <li>5 eggs</li>
                                    <li>Olive oil</li>
                                    <l1>2 red onions</l1>
                                    <l1>1 red chilli</l1>
                                    <l1>Garlic</l1>
                                    <l1>Caster sugar</l1>
                                    <l1>corriander</l1>
                                    <l1>Pepper</l1>
                                </ul>
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5 recipe-title">Let's cook, shall we?</h2>
                            <p class="fs-5 mb-4" id='recipe-doing'>
                                <ol id='recipe-doing'>
                                    <li>Heat the oil in a frying pan that has a lid, then soften the onions, chilli, garlic and coriander stalks for 5 mins until soft.<l1>
                                    <l1>Stir in the tomatoes and sugar, then bubble for 8-10 mins until thick.</li>
                                    <l1>Using the back of a large spoon, make 4 dips in the sauce, then crack an egg into each one. Put a lid on the pan, then cook over a low heat for 6-8 mins, until the eggs are done to your liking.</l1>
                                    <l1>Scatter with the coriander leaves and serve with crusty bread.</l1>
                                </ol>
                            </p>
                        </section>
                    </article>
                    <!-- Comments section-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Fun facts about food</div>
                        <div class="card-body">
                            <div class="row">
                                <div id='fun-facts'>
                                    <h3 class='fact-title'>Broccoli contains more protein than steak</h3>
                                    Former President George W Bush may have once famously proclaimed:
                                    “I’m president of the United States and I’m not going to eat any more broccoli,”
                                    but don’t listen to him! Besides the usual nutrition one gets from eating their greens,
                                    broccoli has a great deal of protein. Calorie for calorie, there is more protein in broccoli than steak.
                                    And it doesn’t come with all those saturated and trans fats or cholesterol, so you can get all the protein
                                    you need with a significantly lower risk of cardiovascular disease with this healthy food.
                                    <br><br>
                                    <h3 class='fact-title'>Pistachios are actually fruits</h3>
                                    Another unbelievable-but-true random fact! They are actually the seeds of a fruit
                                    (the outer fruit is removed during processing). Like other ‘nuts’,
                                    pistachios are a rich source of protein, fibre, vitamins and minerals,
                                    which can help people with weight management, protect against diabetes
                                    and hypertension and improve digestion. The omega-3 fatty acids present
                                    in pistachios can help lower your blood pressure and may also reduce your risk of heart disease.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



{% endblock %}